* {
  margin: 0;
  padding: 0;
}
.task {
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  img {
    border-radius: 100%;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
