* {
  box-sizing: border-box;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background: white;
  transition: 0.5s;
  position: relative;

  p.close {
    position: absolute;
    top: 0px;
    right: 15px;
    cursor: pointer;
  }

  input,
  textarea {
    padding: 8px;
    padding-left: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #eee;
    width: 100%;

    &:focus {
      border-color: #959494;
    }
  }

  .input-group {
    display: flex;
    justify-content: space-between;

    input {
      width: 40%;
    }
  }

  .btn-group {
    margin: 10px 0;
    display: flex;
    gap: 10px;
  }

  button {
    width: fit-content;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    background-color: #007bff;
  }

  span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    box-shadow: 0 0 5000px 5000px #0000004f;
    z-index: -1;
  }
  .chceck-input {
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    input {
      width: fit-content;
    }
  }
}
